* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* ---------------------------- Accueil --------------------------- */
#accueil {
    background: url(./Images/315354.jpg) no-repeat center /cover;
    color: white;
    height: 440vh;
    position: relative;
}

#accueil .titre {
    height: 100vh;
    width: 100%;
    font-size: 200px;
    font-family: 'Anton', sans-serif;
    color: #EBDDDA;
    overflow-x: hidden;
    position: fixed;
    z-index: 4;
}

#accueil .titre h1 {
    margin: 20px 0 0 30px;
    font-size: 200px;
}

#accueil .photo1 {
    background: #685859;
    position: fixed;
    overflow-x: hidden;
    z-index: 3;
}

#accueil .photo1 img {
    width: 100vw;
}

#accueil .photo2 {   
    background: #685859;
    position: fixed;    
    overflow-x: hidden;
    z-index: 2;
}

#accueil .photo2 img{
    width: 100vw;
}

#accueil .blogQuote {
    height: 100vh ;
    background: #685859;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
   
}

#accueil .quote {
    width: 50%;
    padding: 160px 30px 0 30px;
    margin-right: 30px;
    color: #EBDDDA;
    text-align: justify;
    font-size: 30px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

#accueil .quote .mark {
    font-size: 120px;
    color: #5A7681;
}

#accueil .quote .source {
    font-size: 20px;
    font-style: normal;
}

#accueil .blogQuote img {
    transform: translateY(60%);
}


/* ------------------------------- Intro ---------------------------- */
#intro {
    height: 100vh;
}

#intro .paragrapheIntro {
    padding: 100px 0 0 30px;
    width: 45%;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    text-align: left;
    text-indent: 10%;
    color: #685859;
}

#intro span {
    font-size: 64px;
    color: #5A7681;
}


/* --------------------------Menu--------------------------------- */


header {
    display: inline;
    position: sticky;
    top: 70px;
    
}

header img {
    margin-top: 50px;
    margin-left: 10px;
    width: 5%;
    z-index: 101;
}

header nav {
    display: none;
}

header:hover nav {
    background: #EBDDDA;
    height: 50vh;
    width: 20%;
    position: sticky;
    top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    z-index: 99;
}

header nav a{
    color: #685859;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;    
    z-index: 100;
}


/* --------------------- JetPropulsionLab -------------------- */
#JetPropulsionLab {
    height: 150vh;
}

#JetPropulsionLab .textContainer{
    background: #685859;
    width: 65vh;
    height: 65vh;
    transform: translateY(60%) rotate(45deg);
    position: relative;
    left: -70px;
    transition: .5s;
}

#JetPropulsionLab .text {
    transform: rotate(-45deg);
    width: 100%;
    padding-top: 75px;
    padding-left: 160px;        
}

#JetPropulsionLab .text h1 {
    color: #EBDDDA;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
}

#JetPropulsionLab .text p {
    display: none;
    width: 120%;
    font-family: 'Roboto', sans-serif;
    color: #685859;
    font-size: 18px;
    text-align: justify;
    text-indent: 10%;
}

#JetPropulsionLab .textContainer:hover {
    transform: rotate(0deg);
    background: transparent;
}

#JetPropulsionLab .textContainer:hover .text {
    transform: translateY(30%) rotate(0deg);
    height: 90vh;
}

#JetPropulsionLab .textContainer:hover h1 {
    color: #685859;
    font-size: 36px;
}

#JetPropulsionLab .textContainer:hover p {
    display: block;
}

#JetPropulsionLab .photo {
    background: #EBDDDA;
    height: 110vh;
    width: 110vh;
    transform: translateY(-60%) rotate(45deg);
    position: absolute;
    right: -30px;
} 

#JetPropulsionLab .photo1 {
    transform: rotate(-45deg) translateY(50%);
    position: absolute;
    right: 30px;
}

#JetPropulsionLab .photo2 {
    width: 80%;
    transform: rotate(-45deg) translateY(30%) translateX(-200px);
}


/* ----------------------------Dorothy Vaughan----------------- */

#DorothyVaughan {
    height: 150vh;
}

#DorothyVaughan .container {
    width: 80%;
    margin: auto;
    display: flex;
}

#DorothyVaughan .container .blogPhoto {
    width: 40%;
}

#DorothyVaughan .container .blogPhoto h1 {
    text-align: right;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    color: #685859;
}

#DorothyVaughan .container .blogPhoto img {
    width: 100%;
}

#DorothyVaughan .container .blogText {
    width: 60%;
    padding: 70px 0 0 50px;
}

#DorothyVaughan .container .blogText h1 {
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    color: #5A7681;
}

#DorothyVaughan .container .blogText p {
    font-family: 'Roboto', sans-serif;
    color: #685859;
    font-size: 18px;
    text-align: justify;
    text-indent: 10%;
}

#DorothyVaughan .photoDorothy {
    width: 40%;
    transform: translateX(90%) translateY(-20%);
}


#DorothyVaughan .rectangle {
    background: #EBDDDA;
    width: 100%;
    height: 100vh;
    transform: rotate(45deg);
    position: absolute;
    top: 800vh;
    left: 20%;
    z-index: -1;
}



/* ---------------------Margaret Hamilton---------------- */
#MargaretHamilton {
    display: flex;
    justify-content: space-between;
    height: 120vh;
}

#MargaretHamilton .container {
    width: 60%;
    margin-right: 30px;
}

#MargaretHamilton .container .blogText h1 {
    text-align: right;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    color: #685859;
}

#MargaretHamilton .container .blogText .nom {
    color: #5A7681;
}

#MargaretHamilton .container .blogText {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #685859;
    font-size: 18px;
    text-indent: 10%;
}

#MargaretHamilton .photoMargaret {
    height: 100vh;
    margin-top: 210px;
}

#MargaretHamilton .container .photos {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 70vh;
}

#MargaretHamilton .container .photos img { 
    width: 30vh;
    height: 30vh;
}

#MargaretHamilton .container .photos .photo2 {
    align-self: center;
}

#MargaretHamilton .container .photos .photo3 {
    align-self: flex-end;
}


/* ---------------------Frances Northcutt----------------- */
#FrancesNorthcutt {
    height: 100vh;
}

#FrancesNorthcutt .container{
    background: #685859;
    height: 80vh;
    width: 80%;
    margin-top: 250px;
    transition: .3s;
}

#FrancesNorthcutt .container .photoFrancesOrbit {
    width: 50%;
    transform: translateY(-10%);
    position: absolute;
    left: 200px;
}

#FrancesNorthcutt .container h1 {
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    color: #EBDDDA;   
    margin-left: 30px;
}

#FrancesNorthcutt .container .date {
    padding-top: 300px;
}

#FrancesNorthcutt article {
    display: none;
    width: 30%;
    position: absolute;
    right: 0;
    transform: translateY(-105%);
    margin-right: 30px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #EBDDDA;
    font-size: 18px;
    text-indent: 10%;
    transition: .3s;
}

#FrancesNorthcutt .container .photoFrances {
    width: 30%;  
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    transition: .3s;
}

#FrancesNorthcutt .container:hover .photoFrances {
    display: none;
}

#FrancesNorthcutt .container:hover {
    width: 100%;
}

#FrancesNorthcutt .container:hover article {
    display: block;
}




/* ---------------Bonnie Dunbar------------------- */
#BonnieDunbar {
    height: 150vh;
}

#BonnieDunbar .rectangle {
    background: #EBDDDA;
    height: 80vh;
    width: 100vh;
    transform: translateY(90%) rotate(45deg);
    position: relative;
    left: -90px;
    z-index: -7;
}

#BonnieDunbar .titre h1 {
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    color: #685859;  
    margin-left: 240px;
}

#BonnieDunbar .titre .nom {
    color: #5A7681;
}

#BonnieDunbar .portrait {
    width: 40%;
    position: absolute;
    right: 0;
    transform: translateY(-40%);
}

#BonnieDunbar .espace {
    transform: translateY(40%);
    margin-left: 200px;
    z-index: -5;
}

#BonnieDunbar .blogText {
    background: #EBDDDA;
    width: 70%;
    position: absolute;
    right: 0;
    display: flex;
    padding-left: 150px;
    z-index: -6;
}

#BonnieDunbar .blogText img {
    width: 40%;
    margin-right: 30px;
    transform: translateY(20%);
}

#BonnieDunbar article {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #685859;
    font-size: 18px;
    text-indent: 10%;
    width: 50%;
    transform: translateY(40%);
}

    
    





